* {
    box-sizing: border-box;
}

.struct {
    background: url('background.jpg') no-repeat center center/cover; 
}

.row1 {
    border: solid 1px red;
    height: 10%;
    font-size: 0px;
    display: flex;
}

.row2 {
    border: solid 1px red;
    height: 80%;
    font-size: 0px;
    display: flex;
}

.col1 {
    border: solid 2px black;
    height: 100%;
    width: 30%;
    text-align: center;
}

.col2 {
    border: solid 2px white;
    height: 100%;
    width: 40%;
    text-align: center;
    border-radius: 0px;
    display: flex;
}

.row3 {
    border: solid 1px red;
    height: 30%;
    width: 100%;
    font-size: 0px;
    display: flex;
}

.row4 {
    border: solid 1px red;
    height: 70%;
    width: 100%;
    font-size: 0px;
    display: flex;
}


.inputgrp {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 2px solid blue;
    color: black;
    outline: none;
    background: transparent;
    color: blue;
}

.loginbutton {
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    border: 0;
    color: white;
    cursor: pointer;
    background-color: black;
    outline: none;
    font-size: 18px;
}